* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

a,
a:hover,
a:focus {
    text-decoration: none;
}

a {
    transition: 0.3s;
}

img {
    max-width: 100%;
}

ul {
    list-style-type: none;
}

.container {
    width: 1200px;
    padding-left: 15px;
    padding-right: 15px;
    margin-left: auto;
    margin-right: auto;
}

body {
    font-family: 'Roboto';
}

/*modal*/
.modal_container {
    display: none;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    position: fixed;
    align-items: center;
    top: 0px;
    justify-content: center;
}

.modal_container .close_modal {
    color: rgba(213, 213, 213, 0.78);
    font-size: 50px;
    position: absolute;
    right: 15px;
    top: 0px;
    cursor: pointer;
    transition: 0.3s;
}

.modal_container .close_modal:hover {
    color: #ffffff;
}

.modal_container .modal_block {
    display: block;
    width: 450px;
    max-width: 95%;
    height: 550px;
    background-color: #ffffff;
    animation: scall 0.7s;
}

/*header*/
.menu_mob {
    margin: 7px 0 0 12px;
    position: relative;
    height: 42px;
    width: 40px;
    display: none;
}

.menu_mob span {
    background: #4b4b4b;
    display: block;
    height: 5px;
    width: 42px;
    position: absolute;
    top: 0;
    transition: 0.5s;
}

.menu_mob span:nth-child(2) {
    top: 13px;
}

.menu_mob span:nth-child(3) {
    top: 26px;
}

.active_drop_men span:nth-child(1) {
    background: #ed0205;
    transform: rotate(225deg);
    top: 14px;
}

.active_drop_men span:nth-child(2) {
    background: #ed0205;
    transform: rotate(135deg);
    top: 14px;
}

.active_drop_men span:nth-child(3) {
    background: #ed0205;
    transform: rotate(225deg);
    top: 14px;
}

.header-bottom .header-info a.full-version {
    display: none;
    color: #ed0205;
    text-decoration: underline;
}

.header-menu li.active a {
    color: #ed0205;
}

.scroll-top {
    position: fixed;
    bottom: 12px;
    right: 15px;
    width: 34px;
    height: 34px;
    display: block;
    background-color: #ed0205;
    border: 1px solid #fff;
    background-image: url(/images/up-arrow.svg);
    background-size: 12px;
    background-position: center;
    background-repeat: no-repeat;
    opacity: 0;
    transition: all 0.6s ease;
    transform: translateX(150%);
    z-index: 10;
    border-radius: 4px;
}

.scroll-top:hover {
    background-color: #b70d0f;
}

.scroll-top.active {
    opacity: 1;
    transform: none;
}

@keyframes scall {
    from {
        transform: scale(0);
    }

    to {
        transform: scale(1);
    }
}

header {
    padding: 0 0 50px;
    background-color: #ffffff;
    margin-top: -25px;
    position: relative;
    z-index: 1;
}

header .container {
    position: relative;
}

.persontal-info {
    display: none;
    align-items: center;
    padding: 3px 10px 15px;
}

.persontal-info span {
    margin-left: 10px;
    color: #ed0205;
}

.header-top {
    padding: 15px 0 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header-logo:hover {
    opacity: 0.7;
}

.header-contact {
    display: flex;
    align-items: center;
    position: absolute;
    right: 15px;
    top: 30px;
}

.btn {
    width: 205px;
    max-width: 100%;
    height: 50px;
    color: #ffffff;
    font-size: 14px;
    background-color: #ed0205;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 3px;
    border: none;
    cursor: pointer;
    line-height: 14px;
    transition: 0.3s;
}

.btn:hover {
    background-color: #ac1315;
}

h2 {
    font-size: 30px;
    font-weight: 500;
    color: #26272d;
    margin: 0 0 25px;
}

h1.smallTitle {
    font-size: 30px;
    font-weight: 500;
    color: #26272d;
    margin: 0 0 25px;
}

.header-tel {
    color: #26272d;
    font-size: 20px;
    font-weight: bold;
}

.header-tel span {
    color: #ed0205;
    font-size: 30px;
    padding-left: 5px;
    transition: 0.3s;
}

.header-tel:hover span {
    color: #b5322e;
}

.btn.header-order-btn {
    width: 130px;
    margin: 0 30px 0 20px;
}

.header-profile {
    width: 50px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid #a6a6a6;
    border-radius: 50%;
}

.header-profile:hover {
    background-color: #f3f3f3;
}

.header-bottom {
    margin-top: -12px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header-menu {
    padding: 0 50px 0 94px;
    display: flex;
    align-items: center;
}

.header-menu li {
    padding: 0 20px;
}

.header-menu li a {
    font-size: 14px;
    color: #212224;
    text-transform: uppercase;
}

.header-menu li a:hover {
    color: #ed0205;
}

.header-info {
    margin-right: 100px;
}

.header-info a {
    font-size: 13px;
    color: #131313;
    text-decoration: underline;
    margin: 0 10px;
}

.header-info a:hover {
    color: #ed0205;
}

.header-info a:first-child {
    margin-right: 64px;
}

.main-info {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.main-info .col-9 {
    width: calc(73% - 20px);
}

.main-info .col-3 {
    width: 27%;
}

.tab-btns {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    border: 1px solid #ed0205;
    text-align: center;
    border-radius: 3px;
    margin: 0 0 45px;
}

.tab-btns li {
    width: 25%;
    height: 65px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
    font-size: 14px;
    font-family: 'Lato-Regular';
    color: #2d2d2d;
    cursor: pointer;
    transition: 0.3s;
}

.tab-btns li:hover {
    color: #ffffff;
    background-color: rgba(237, 2, 5, 0.5);
}

.tab-btns li.active {
    color: #ffffff;
    background-color: #ed0205;
}

.tab-control {
    width: 55px;
    position: absolute;
    top: 12px;
    right: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.tab-control li {
    cursor: pointer;
    filter: grayscale(100%);
    -webkit-filter: grayscale(100%);
    opacity: 0.5;
    transition: 0.3s;
}

.tab-control li:hover {
    opacity: 0.7;
}

.tab-control li.active {
    filter: grayscale(0);
    -webkit-filter: grayscale(0);
    opacity: 1;
}

.tab-container {
    position: relative;
}

.tab-container.row-style .info-box {
    width: 100%;
}

.tab-container.row-style .info-box p br {
    display: none;
}

.tab-block {
    display: none;
}

.tab-block h2 {
    padding-right: 70px;
}

.tab-block.active {
    display: block;
}

.info-box-wrap {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.no-fill-title .info-box .info-title {
    background-color: #ffffff;
    padding: 15px 11px 0px;
}

.info-box {
    width: calc(33.333% - 10px);
    margin: 0 0 16px;
    border: 1px solid #cfcfcf;
    border-radius: 3px;
}

.info-box .info-title {
    background-color: #e8e8e8;
    padding: 15px 11px 10px;
}

.info-box h3 {
    font-size: 14px;
    color: #131313;
    margin: 0 0 10px;
    font-weight: bold;
}

.info-box p {
    font-size: 14px;
    color: #555555;
}

.info-box p .status-ended {
    font-weight: bold;
    color: #df1e1e;
}

.info-box p .status-active {
    font-weight: bold;
    color: #30a01d;
}

.info-box p.info-address {
    margin: 12px 0 0;
}

.no-fill-title .info-box .info-title {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.no-fill-title .info-box .info-title .content-id {
    display: none;
    font-size: 13px;
    font-weight: bold;
}

.row-style .no-fill-title .info-box .info-title .content-id {
    display: block;
}

.info-content {
    padding: 15px 11px 15px;
}

.info-content h3 {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.bar-box {
    padding: 25px 17px 30px;
    border: 1px solid #d3d3d3;
    border-radius: 10px;
    margin: 0 0 20px;
}

.bar-box p {
    font-size: 14px;
    color: #555555;
    margin: 0 0 15px;
}

.add-service {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    padding: 15px 15px 5px;
    background-color: #f4f4f5;
    border: 1px solid #d1d1d1;
    margin: 0 0 25px;
}

.add-service .input {
    background-color: #ffffff;
}

.add-service .serive-block {
    padding: 6px 10px;
    background-color: #ffffff;
    border: 1px solid #e7e7e7;
    border-radius: 3px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0 0 10px;
}

.add-service .serive-block span {
    color: #595959;
    font-size: 13px;
    font-family: 'Lato-Regular';
}

.add-service .serive-block span.service-delete {
    margin-left: 9px;
    cursor: pointer;
    transition: 0.3s;
}

.add-service .serive-block span.service-delete:hover {
    color: #ed0205;
}

.add-service-btn {
    background-color: #ececec;
    border: 1px solid #d3d3d3;
    border-radius: 3px;
    padding: 6px 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'Lato-Regular';
    font-size: 14px;
    color: #595959;
    margin: 0 0 10px;
    cursor: pointer;
    transition: 0.3s;
}

.add-service-btn:hover {
    color: #ffffff;
    background-color: #ed0205;
}

.input {
    width: 100%;
    height: 48px;
    margin: 0 0 15px;
    background-color: #f4f4f5;
    border: 1px solid #d1d1d1;
    border-radius: 3px;
    padding-left: 20px;
    color: #000000;
    font-size: 16px;
    outline: none;
}

.input:focus {
    border: 1px solid #26272d;
}

.select {
    width: 100%;
    height: 48px;
    margin: 0 0 15px;
    background-color: #f4f4f5;
    border: 1px solid #d1d1d1;
    border-radius: 3px;
    padding-left: 15px;
    color: #000000;
    font-size: 16px;
    cursor: pointer;
    outline: none;
}

.select:focus {
    border: 1px solid #26272d;
}

.form-bottom {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
}

.form-bottom .btn {
    width: 148px;
    height: 38px;
    font-size: 13px;
}

.attach-file input {
    display: none;
}

.attach-file .file-name {
    color: #383838;
    font-size: 12px;
    cursor: pointer;
    padding-right: 20px;
    background-image: url(/images/clip-icon.png);
    background-repeat: no-repeat;
    background-position: right;
    transition: 0.3s;
}

.attach-file .file-name:hover {
    color: #ed0205;
}

.personal-data {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    margin: 0 0 20px;
}

.personal-photo {
    width: 100px;
}

.personal-photo img {
    width: 100%;
    height: 100px;
    border-radius: 50%;
}

.person-text {
    width: calc(100% - 115px);
}

.person-text h2 {
    font-size: 20px;
    margin: 15px 0 0;
}

a.personal-contact {
    font-size: 25px;
    color: #26272d;
    text-decoration: underline;
    display: inline-block;
    margin-bottom: 25px;
    font-weight: 500;
}

a.personal-contact:hover {
    color: #ed0205;
}

.textarea {
    width: 100%;
    height: 115px;
    margin: 0 0 15px;
    background-color: #f4f4f5;
    border: 1px solid #d1d1d1;
    border-radius: 3px;
    padding: 15px;
    color: #000000;
    font-size: 14px;
    resize: none;
    outline: none;
}

.textarea:focus {
    border: 1px solid #26272d;
}

footer {
    margin: 50px 0 0;
}

footer .container {
    padding: 40px 15px 45px;
    border-top: 1px solid #ededed;
    display: flex;
    justify-content: space-between;
}

footer .container .col-3 {
    width: calc(25% - 30px);
}

footer .container .col-4 {
    width: calc(30% - 15px);
}

footer h3 {
    font-size: 20px;
    font-weight: 500;
    color: #26272d;
    padding: 0 0 25px 25px;
}

.footer-logo {
    display: block;
    width: 160px;
    margin: 0 0 30px;
}

.footer-logo:hover {
    opacity: 0.7;
}

.footer-contact {
    margin: 0 0 25px;
}

.footer-contact a {
    color: #26272d;
    font-size: 16px;
    font-weight: 900;
    line-height: 25px;
}

.footer-contact a:hover {
    color: #ed0205;
}

.footer-social {
    width: 50px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid #a6a6a6;
    border-radius: 50%;
}

.footer-social:hover {
    background-color: #f3f3f3;
}

.footer-list-link li {
    margin: 5px 0;
}

.footer-list-link li a {
    display: block;
    color: #727374;
    font-size: 14px;
    padding: 2px 0 2px 25px;
    background-repeat: no-repeat;
    background-position-y: 1px;
}

.footer-list-link li a:hover {
    background-image: url(/images/sun-icon.png);
    color: #121212;
}

.footer-navigation {
    width: 15%;
}

.footer-navigation li {
    margin: 6px 0;
}

.footer-navigation li a {
    color: #727374;
    font-size: 14px;
}

.footer-navigation li a:hover {
    color: #26272d;
}

.filter-info {
    margin: 0 0 30px;
}

.filter-info h3 {
    color: #131313;
    font-size: 14px;
    font-weight: bold;
    margin: 0 0 15px;
}

.filter-info form {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.filter-info form input {
    width: calc(40% - 12px);
}

.filter-info form .select {
    width: calc(40% - 12px);
}

.filter-info form button {
    width: calc(20% - 12px);
    height: 48px;
    background-color: #ffffff;
    border: 1px solid #1e1e1e;
    border-radius: 5px;
    font-size: 14px;
    color: #2a2a2a;
    cursor: pointer;
    transition: 0.3s;
}

.filter-info form button:hover {
    background-color: #eeeeee;
}

.account-wrap {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.account-block {
    width: calc(33.333% - 15px);
}

.account-block h3 {
    font-size: 20px;
    font-weight: 500;
    color: #303030;
    margin: 0 0 30px;
}

.account-block p {
    font-size: 14px;
    color: #555555;
    margin: 0 0 25px;
}

.account-block button {
    margin-top: 33px;
}

.btn-empty-bg {
    width: 200px;
    max-width: 100%;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #ffffff;
    border: 1px solid #ed0205;
    font-size: 14px;
    color: #ed0205;
    border-radius: 3px;
    cursor: pointer;
    transition: 0.3s;
}

.btn-empty-bg:hover {
    background-color: #ed0205;
    color: #ffffff;
}

.form-label {
    width: 100%;
    display: block;
    margin: 0 0 12px;
}

.form-label .label-name {
    display: block;
    font-size: 14px;
    color: #555555;
    margin: 0 0 7px;
}

.form-label .login-name {
    display: block;
    color: #040404;
    font-size: 20px;
    font-weight: 500;
    margin: 15px 0 45px;
}

.custom-error {
    display: block;
    font-size: 14px;
    color: #ed0205;
}

.checkbox-wrap {
    margin: 0 0 30px;
}

.checkbox {
    display: flex;
    margin: 0 0 10px;
    align-items: center;
}

.checkbox span {
    display: block;
    padding: 7px 5px 7px 45px;
    cursor: pointer;
    color: #1a1a1a;
    font-size: 17px;
}

.checkbox input[type=checkbox] {
    display: none;
}

.checkbox input[type=checkbox]+span {
    background: url(/images/chechbox.png) no-repeat left center;
}

.checkbox input[type=checkbox]:checked+span {
    background: url(/images/chechbox-active.png) no-repeat left center;
}

.restore-password {
    padding: 15px 20px;
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.restore-block {
    width: 750px;
    max-width: 100%;
    padding: 70px 15px 60px;
    border: 1px solid #d3d3d3;
    border-radius: 10px;
    margin: 70px 0 0;
}

.restore-block h3 {
    text-align: center;
    font-size: 30px;
    color: #26272d;
    font-weight: 500;
}

.restore-block h4 {
    text-align: center;
    font-size: 20px;
    color: #26272d;
    font-weight: 500;
    margin: 30px 0 35px;
}

.restore-block form {
    width: 450px;
    max-width: 100%;
    margin: auto;
}

.restore-block form p {
    color: #555555;
    margin: 0 0 12px;
    font-size: 14px;
}

.restore-block form p a {
    color: #546dcc;
    text-decoration: underline;
}

.restore-block form p a:hover {
    color: #3b52a9;
}

.restore-block form button {
    margin: 35px auto 0 auto;
}

.navigaton {
    display: flex;
    flex-wrap: wrap;
    margin: 0 0 20px;
}

.navigaton li {
    padding-right: 35px;
    position: relative;
}

.navigaton li:before {
    content: '';
    width: 5px;
    height: 9px;
    background-image: url(/images/right-arrow.png);
    background-size: cover;
    position: absolute;
    top: 5px;
    right: 15px;
}

.navigaton li a {
    color: #131313;
    font-size: 14px;
    font-weight: 300;
    position: relative;
}

.navigaton li a:hover {
    color: #ed0205;
}

.navigaton li:last-child {
    padding-right: 0;
}

.navigaton li:last-child:before {
    display: none;
}

.navigaton li:last-child a {
    color: #6f6f6f;
    pointer-events: none;
}

.banner {
    padding: 10px 15px 0;
}

h1 {
    margin: 0 0 40px;
    color: #393939;
    font-size: 50px;
    font-weight: 500;
}

.banner-photo {
    margin: 0 0 30px;
}

.banner-photo img {
    width: 100%;
    display: block;
    min-height: 170px;
    max-height: 500px;
    object-fit: cover;
    object-position: right;
    border-radius: 15px;
}

.banner-info {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.banner-info .banner-text {
    width: calc(50% - 15px);
    margin: 0 0 30px;
}

.banner-info .banner-text p {
    font-size: 14px;
    line-height: 21px;
    font-weight: 500;
    color: #727374;
}

.price {
    padding: 20px 0 0;
}

.price h2 {
    text-align: center;
}

.price-table {
    margin: 0 0 60px;
}

.price-table table {
    width: 100%;
    border-collapse: collapse;
    margin: 0 0 30px;
}

.price-table table td,
.price-table table th {
    padding: 20px 10px 20px 50px;
    color: #131313;
    font-size: 14px;
}

.price-table table thead th {
    text-align: left;
    background-color: #e8e8e8;
    font-weight: bold;
    width: 25%;
}

.price-table table thead th:nth-child(1) {
    width: 50%;
}

.price-table table tbody tr {
    border: 1px solid #f2f2f2;
}

.price-table .btn-empty-bg {
    margin: auto;
}

.form-wrap {
    width: 1000px;
    max-width: calc(100% - 30px);
    padding: 40px 70px 35px;
    margin: 0 auto 60px auto;
    border: 4px solid #c4c4c4;
    border-radius: 10px;
}

.form-wrap h2 {
    text-align: center;
}

.wrap-form {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.form-block {
    width: calc(50% - 15px);
}

.form-block .textarea {
    height: 243px;
    position: relative;
    z-index: 2;
}

.form-btn {
    width: 100%;
    position: relative;
}

.form-btn button {
    margin: auto;
}

.form-btn .attach-file {
    position: absolute;
    top: 7px;
    right: 7px;
    z-index: 1;
}

.form-btn .attach-file .file-name {
    font-size: 14px;
}

.form-icon {
    position: absolute;
    top: -90px;
    right: -49px;
}

.recommended {
    margin-bottom: 50px;
}

.recommended h2 {
    text-align: center;
    margin-bottom: 35px;
}

.recommended .btn-empty-bg {
    margin: auto;
}

.recommended-container {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin: 0 0 30px;
}

.recommended-container .recommended-block {
    width: calc(16.66% - 10px);
    height: 95px;
    background-color: #f4f4f5;
    margin: 0 0 12px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
}

.recommended-container .recommended-block:hover {
    box-shadow: 0px 30px 50px 0px rgba(92, 95, 101, 0.2);
}

.recommended-container .recommended-block:hover img {
    filter: grayscale(0);
    -webkit-filter: grayscale(0);
}

.recommended-container .recommended-block img {
    width: 100px;
    max-width: calc(100% - 20px);
    filter: grayscale(100%);
    -webkit-filter: grayscale(100%);
    transition: 0.3s;
}

.news h2 {
    text-align: center;
}

.news-conntainer {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin: 0 0 30px;
}

.news-block {
    width: calc(33.333% - 12px);
    display: block;
    margin: 0 0 20px;
    padding: 20px;
    border-radius: 3px;
    border: 1px solid #f1f1f1;
    transition: 0.3s;
}

.news-block:hover {
    box-shadow: 0 0 12px 4px rgba(0, 0, 0, 0.12);
}

.news-image {
    margin: 0 0 20px;
}

.news-image img {
    width: 100%;
    height: 200px;
    object-fit: cover;
    object-position: center;
    border-radius: 3px;
}

.news-name {
    color: #47474c;
    font-size: 22px;
    font-weight: 500;
    padding-bottom: 20px;
    border-bottom: 1px solid #f1f1f1;
}

.news-info {
    display: flex;
    justify-content: space-between;
    padding: 20px 0 0;
}

.news-info-block {
    display: flex;
    align-items: center;
}

.news-info-block span {
    margin-left: 7px;
    color: #b0b0b0;
    font-family: 'Lato-Regular';
    font-size: 14px;
}

.firm-info-content {
    padding: 15px 0 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}

.firm-info-text {
    width: calc(50% - 15px);
}

.firm-info-text h3 {
    color: #26272d;
    font-size: 20px;
    font-weight: 500;
    margin: 0 0 20px;
}

.firm-info-text p {
    color: #727374;
    font-size: 14px;
    line-height: 21px;
    font-weight: 500;
    margin: 0 0 20px;
}

.firm-info-photo {
    width: calc(50% - 15px);
}

.firm-info-photo img {
    width: 100%;
    object-fit: cover;
    object-position: center;
    border-radius: 10px;
}

.list-price-wrap h2 {
    text-align: center;
}

.list-service {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.list-service-block {
    width: calc(25% - 12px);
    height: 160px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px 5px 10px 20px;
    margin: 0 0 15px;
    border: 1px solid #e9e9e9;
    border-radius: 10px;
    background-position: left center;
    background-repeat: no-repeat;
}

.list-service-block:hover {
    border-color: #ed0205;
    background-image: url(/images/half-sun.png);
}

.list-service-block h3 {
    color: #303030;
    font-size: 19px;
    font-weight: 500;
}

.list-service-block img {
    max-width: 110px;
    max-height: 100%;
}

.list-service-block.list-long {
    width: calc(50% - 10px);
}

.news.list-news h1 {
    margin-top: 30px;
}

.pagination {
    width: 100%;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.pagination li {
    margin: 7px;
}

.pagination li a {
    width: 40px;
    height: 40px;
    background-color: #efefef;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    font-size: 18px;
    color: #303030;
    font-weight: 300;
}

.pagination li a:hover {
    color: #ed0205;
    border: 1px solid #9a9a9a;
    font-weight: 500;
}

.pagination li.active a {
    background-color: #ed0205;
    border: 1px solid #ed0205;
    color: #ffffff;
}

.pagination li:last-child {
    margin-left: 20px;
}

.pagination li:first-child {
    margin-right: 20px;
}

.banner-news-info {
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.banner-news-info .news-info-block:first-child {
    margin-right: 30px;
}

.single-news-block {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.single-news {
    margin-top: 40px;
}

.news-content {
    width: calc(66.66% - 15px);
}

.news-content p {
    font-size: 14px;
    color: #727374;
    line-height: 21px;
    font-weight: 500;
    margin: 0 0 20px;
}

.news-bar {
    width: calc(33.33% - 15px);
}

.news-bar .news-block {
    width: 100%;
}

.single-photo {
    display: block;
    width: 100%;
    border-radius: 10px;
    margin-bottom: 25px;
}

.tags {
    display: flex;
    flex-wrap: wrap;
    margin: 0 0 15px;
}

.tags li {
    width: 110px;
    height: 35px;
    background-color: #f2f2f2;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 3px;
    font-size: 14px;
    font-family: 'Lato-Regular';
    color: #bebebe;
    margin-bottom: 15px;
}

.tags li:not(:last-child) {
    margin-right: 15px;
}

.share {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}

.share .share-text {
    font-size: 14px;
    color: #727374;
    margin-right: 10px;
    font-family: 'Lato-Regular';
}

.share ul {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}

.share ul li a {
    width: 40px;
    height: 40px;
    margin: 4px;
    background-color: #efefef;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid #9f9f9f;
    border-radius: 50%;
}

.share ul li a:hover {
    background-color: #d5d5d5;
}

.complete-solutions {
    padding: 40px 0;
}

.complete-solutions h2 {
    text-align: center;
}

.solutions-container {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.solutions-block {
    width: calc(50% - 10px);
    height: 150px;
    position: relative;
    border-radius: 10px;
    overflow: hidden;
    margin: 0 0 30px;
}

.solutions-block img {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    object-fit: cover;
    object-position: center;
    transform: scale(1.15);
    transition: 0.3s;
}

.solutions-block h3 {
    width: 50%;
    height: 100%;
    font-size: 40px;
    color: #ffffff;
    font-weight: 500;
    text-align: center;
    background-color: rgba(237, 2, 5, 0.7);
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    transition: 0.3s;
}

.solutions-block:hover h3 {
    background-color: rgba(237, 2, 5, 0.95);
}

.solutions-block:hover img {
    transform: scale(1);
}

.solutions-block:last-child {
    display: flex;
    justify-content: flex-end;
}

.individual-offers {
    padding: 0 0 30px;
}

.individual-offers h2 {
    text-align: center;
}

.individual-container {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.individual-block {
    width: calc(25% - 14px);
    height: 160px;
    position: relative;
    margin: 0 0 18px;
    border-radius: 10px;
    overflow: hidden;
}

.individual-block img {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    object-fit: cover;
    object-position: center;
    transform: scale(1.15);
    filter: grayscale(100%);
    -webkit-filter: grayscale(100%);
    transition: 0.3s;
}

.individual-block h3 {
    width: 100%;
    height: 100%;
    background-color: rgba(196, 196, 196, 0.7);
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #1a1a1a;
    font-size: 20px;
    font-weight: 500;
    text-align: center;
    transition: 0.3s;
}

.individual-block:hover img {
    filter: grayscale(0);
    -webkit-filter: grayscale(0);
    transform: scale(1);
}

.individual-block:hover h3 {
    color: #ffffff;
    background-color: rgba(196, 196, 196, 0);
    text-shadow: 0 1px 9px #26272d;
}

.restore-block form p.forgot-password {
    text-align: right;
}

.service-content {
    width: calc(50% - 12px);
    margin: 40px 0 0;
}

.service-content p {
    font-size: 14px;
    color: #727374;
    line-height: 21px;
    font-weight: 500;
    margin: 0 0 25px;
}

.service-content h3 {
    font-size: 25px;
    color: #26272d;
    font-weight: 500;
    margin: 0 0 25px;
}

.service-content a {
    color: #3b80c5;
    text-decoration: underline;
}

.service-content a:hover {
    color: #d9289a;
    text-decoration: underline;
}

.main-banner .banner-photo {
    position: relative;
}

.main-banner .banner-title {
    width: 430px;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-color: #ed0205;
    color: #ffffff;
    font-size: 40px;
    font-weight: 500;
    border-radius: 15px 0 0 15px;
    padding: 7px;
}

.main-list {
    margin-bottom: 60px;
}

.main-list .list-service-block {
    width: calc(33.33% - 12px);
    justify-content: space-around;
}

.without-border.form-wrap {
    border: none;
}

.without-border.form-wrap .form-icon {
    display: none;
}