@import "@/styles/variables.scss";

*,
*:after,
*:before {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: $font-stack;
}

a {
  text-decoration: none;
  outline: none;

  &:hover {
    color: $red;
  }
}

.clearfix::after {
  content: "";
  display: table;
  clear: both;
}

.brc-page-container {
  width: 100%;
  max-width: 1140px;
  padding: 0 15px;
  margin: auto;
  min-height: 100vh;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;

  @media(max-width: 768px) {
    padding: 0 10px;
  }

  @media(max-width: 480px) {
    padding: 0 5px;
  }

  .brc-body {
    flex-grow: 1;
  }

}

@media(max-width: 767px) {
  .brc-body {
    min-height: 600px;
  }
}