@import "@/styles/variables.scss";

/*! purgecss start ignore */

// .brc-article-item>article,
// .brc-page-description,
// .brc-page__dynamic_block {
//   * {
//     white-space: normal !important;
//   }
// }


.ql-container {
  .ql-editor {
    * {
      white-space: pre-wrap !important;
    }
  }
}

.ql-tooltip .ql-editing {
  left: 0px !important;
}

.ql-editor {
  iframe {
    &.ql-video-inner {
      pointer-events: none !important;
      display: block;
    }
  }
}


.brc-article-item>article,
.brc-page-description,
.brc-page__dynamic_block,
.ck-content,
.ql-editor {
  .ql-video-wrapper {
    padding-top: 56.25%;
    position: relative;
    height: 0;
  }

  .ql-video-inner {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }

  .text-tiny {
    font-size: 0.7em !important;
  }

  .text-small {
    font-size: 0.85em !important;
  }

  .text-big {
    font-size: 1.4em !important;
  }

  .text-huge {
    font-size: 1.8em !important;
  }

  .ql-size-large {
    font-size: $font-big;
  }

  .ql-size-small {
    font-size: $font-small;
  }

  .ql-size-huge {
    font-size: 2.5em;
  }

  .ql-direction-rtl {
    direction: rtl;
    text-align: inherit;
  }

  .ql-align-center {
    text-align: center;
  }

  .ql-align-justify {
    // text-align: justify;
    text-align: left !important;
  }

  .ql-align-right {
    text-align: right;
  }

  iframe,
  div,
  section {
    &.ql-align-center {
      margin: 0 auto;
    }
  }

  iframe,
  div,
  section {
    &.ql-align-right {
      margin: 0 0 0 auto;
    }
  }

  .ql-align-center {
    img {
      margin: 0 auto !important;
    }
  }

  .ql-align-right img {
    margin: 0 0 0 auto !important;
  }

  figure {
    &.image {
      margin: 0 auto !important;
    }

    &.image-style-align-left {
      margin: 0 !important;
    }

    &.image-style-align-right {
      margin: 0 0 0 auto !important;
    }

    &.media {
      clear: both;
      margin: 1em 0;
      margin-top: 1em;
      display: block;
      min-width: 15em;
    }
  }

  blockquote,
  .ql-syntax {
    // border-left: 4px solid red !important;
    // padding-left: 16px;
    margin: 0 !important;
    color: #231E28 !important;
    background-color: inherit !important;
    white-space: pre-wrap !important;
    //  margin: 15px 0 15px 0 !important;
    padding: 25px !important;
    border-radius: 1px !important;
    border: 1px solid $red !important;
    font-weight: $font-medium !important;
    font-size: 17px !important;
    position: relative;
    font-style: normal !important;
    font-family: $font-stack !important;

    @media (max-width: 768px) {
      padding: 10px !important;
    }
  }

  hr {
    border: solid lightgray !important;
    border-width: 1px 0 0 !important;
  }

  strong {
    font-weight: $font-medium;
    color: inherit;
  }

  ol,
  ul {
    padding: 0px !important;
  }

  li {
    list-style-type: none !important;
    padding-left: 1.5em !important;
  }

  li+li {
    // margin-top: 10px !important;
    margin-top: .3125rem !important;
  }

  li:before {
    display: inline-block !important;
    width: 1rem !important;
    margin-left: -1.5rem !important;
    margin-right: .5rem !important;
    text-align: right !important;
  }

  li[data-list='bullet']:before,
  ul>li:before {
    color: $red !important;
    content: "■" !important;
    vertical-align: text-bottom;
  }

  ul[data-checked=true]>li:before,
  ul>li[data-checked=true]:before {
    content: '\2611' !important;
  }

  ul[data-checked=false]>li:before,
  ul>li[data-checked=false]:before {
    content: '\2610' !important;
  }

  ul {
    &.todo-list {
      li:before {
        content: '' !important;
      }
    }
  }


  ol {
    counter-reset: mylist
  }

  ol>li:before {
    counter-increment: mylist;
    content: counter(mylist, decimal) '. ';
  }

  ol ol>li:before {
    content: counter(mylist, lower-alpha) '. ';
  }

  ol ol ol>li:before {
    content: counter(mylist, lower-roman) '. ';
  }

  ol ol ol ol>li:before {
    content: counter(mylist, decimal) '. ';
  }

  ol ol ol ol ol>li:before {
    content: counter(mylist, lower-alpha) '. ';
  }

  ol ol ol ol ol ol>li:before {
    content: counter(mylist, lower-roman) '. ';
  }

  ol ol ol ol ol ol ol>li:before {
    content: counter(mylist, decimal) '. ';
  }

  ol ol ol ol ol ol ol ol>li:before {
    content: counter(mylist, lower-alpha) '. ';
  }

  ol ol ol ol ol ol ol ol ol>li:before {
    content: counter(mylist, lower-roman) '. ';
  }


  /* ql indent */
  .ql-indent-1:not(.ql-direction-rtl) {
    padding-left: 2.5em !important;
  }

  .ql-indent-1.ql-direction-rtl.ql-align-right {
    padding-right: 2.5em !important;
  }

  .ql-indent-2:not(.ql-direction-rtl) {
    padding-left: 3.5em !important;
  }

  .ql-indent-2.ql-direction-rtl.ql-align-right {
    padding-right: 3.5em !important;
  }

  .ql-indent-3:not(.ql-direction-rtl) {
    padding-left: 4.5em !important;
  }

  .ql-indent-3.ql-direction-rtl.ql-align-right {
    padding-right: 4.5em !important;
  }

  .ql-indent-4:not(.ql-direction-rtl) {
    padding-left: 5.5em !important;
  }

  .ql-indent-4.ql-direction-rtl.ql-align-right {
    padding-right: 5.5em !important;
  }

  .ql-indent-5:not(.ql-direction-rtl) {
    padding-left: 6.5em;
  }

  .ql-indent-5.ql-direction-rtl.ql-align-right {
    padding-right: 6.5em;
  }

  .ql-indent-6:not(.ql-direction-rtl) {
    padding-left: 15em;
  }

  .ql-indent-6.ql-direction-rtl.ql-align-right {
    padding-right: 15em;
  }

  .ql-indent-7:not(.ql-direction-rtl) {
    padding-left: 18em;
  }

  .ql-indent-7.ql-direction-rtl.ql-align-right {
    padding-right: 18em;
  }

  .ql-indent-8:not(.ql-direction-rtl) {
    padding-left: 20em;
  }

  .ql-indent-8.ql-direction-rtl.ql-align-right {
    padding-right: 20em;
  }

  .ql-indent-9:not(.ql-direction-rtl) {
    padding-left: 22em;
  }

  .ql-indent-9.ql-direction-rtl.ql-align-right {
    padding-right: 22em;
  }

  /* video */
  .ql-video {
    display: block;
    max-width: 100%;
  }

}

/*! purgecss end ignore */