$font-stack: "Roboto",
"Helvetica Neue",
Helvetica,
Arial,
sans-serif;

$green: #58a549;
$blue: #0083ca;
$blue-modal: #006fb8;
$red: #ed0205;
$dark-red: #ac1315;
$yellow: #fdbc3b;
$light-blue: #ecf5ff;
$link-color :rgb(0, 0, 238);

$delimiter-light-color:#cccccc;
$delimiter-strong-color:#b2b2b2;
$delimiter-extra-light-color: #f0f0f0;

$placeholder-color: #C0C0C0;

// $text-color:#464646;
// $text-color:#222;
$text-color:#24292e;
// $text-color:#292929;
// $text-color1: #333333;
$text-muted:#757575;
$a-color: $blue;
$a-hover-color: $red;

$font-size: 16px;
$font-small: 14px;
$font-big: 18px;

$button-text-small: 12px;

$font-bold: 700;
$font-medium: 500;
$font-regular: 400;

$body-background-color: white;
$background-hover-light-color: $light-blue;

$header-logo-title-color: #58a549;
$header-additional-text-color: $delimiter-strong-color;
$header-background-color: $blue;
$header-item-color: white;
$header-active-item-color:white;
$header-secondary-color: white;
$header-secondary-a-color: $blue;
$header-secondary-hover-color: rgb(8, 8, 8);

$footer-background-color:#5a77a0;
$footer-text-color: white;
$footer-height: 40px;

$mainside-wrapper-background-color: $body-background-color;

$leftside-background-color:white;
$leftside-border-color:#bbbbbb;
$leftside-menu-item-color: #606266;
$leftside-menu-active-color: $blue;

$lot-card-block-header-background-color: #eeeeee;

$citizens-color:$yellow;
$sale-color:#0083ca;
$rent-color:#58a549;

$box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14),
0 3px 1px -2px rgba(0, 0, 0, 0.12),
0 1px 5px 0 rgba(0, 0, 0, 0.2);

$box-shadow-lug: 2px 2px 2px 0 rgba(0, 0, 0, .14),
2px 3px 1px -2px rgba(0, 0, 0, .12),
2px 1px 5px 0 rgba(0, 0, 0, .2);

$box-shadow-google:0 1px 2px 0 rgba(60, 64, 67, .3),
0 1px 3px 1px rgba(60, 64, 67, .15);