{
  "root": true,

  "env": {
    "node": true
  },

  "extends": [
    "@nuxtjs",
    "@nuxtjs/eslint-config-typescript",
    "prettier",
    "prettier/vue",
    "plugin:prettier/recommended",
    "plugin:nuxt/recommended"
  ],

  "rules": {
    "comma-dangle": 2,
    "camelcase": 0,
    "no-unused-vars": "off",
    "eslint-disable-next-line": 0,
    "eslint-disable-line": 0,

    // "prettier/prettier": [
    //   "error",
    //   {
    //     "endOfLine": "auto"
    //   }
    // ],
    "prettier/prettier": 0
  },

  "overrides": [{
    "files": ["*.vue"],
    "rules": {
      "indent": "off"
    }
  }]
}