@media (max-width: 1250px) {
    .form-icon {
       display:none;
    }
}
@media (max-width: 1199px) {
  .container {
    width: 970px;
  }
    .header-menu {
        padding: 0 15px 0 0;
    }
    .header-bottom {
        margin-top: 10px;
    }
    .main-info .col-9 {
        width: calc(68% - 20px);
    }
    .main-info .col-3 {
        width: 32%;
    }
    .list-service-block {
        width: calc(50% - 10px);
    }
    .header-bottom .header-info a {
        margin: 0 8px;
    }
    .form-bottom .btn {
        width: 120px;
    }
    .header-info {
        margin-right: 71px;
    }
}
@media (max-width: 991px) {
  .container {
    width: 750px;
  }
    .header-info {
        margin-right: 0;
    }
    .header-info a {
        margin: 0 10px;
    }
    .header-menu li {
        padding: 0 7px;
    }
    .header-menu li a {
        font-size: 13px;
    }
    .main-info .col-9 {
        width: calc(60% - 20px);
    }

    .main-info .col-3 {
        width: 40%;
    }
    .info-box {
        width: calc(50% - 6px);
        margin: 0 0 12px;
    }
    h2 {
        font-size: 25px;
        margin: 0 0 15px;
    }
    .filter-info form button {
        width: calc(25% - 12px);
    }
    .account-block {
        width: calc(50% - 15px);
        margin-bottom:20px;
    }
    .form-wrap {
        padding: 20px 15px 25px;
        border: 2px solid #c4c4c4;
    }
    .recommended-container .recommended-block {
        width: calc(25% - 10px);
    }
    .news-block {
        width: calc(50% - 12px);
    }
    .news-bar, .news-content {
        width: calc(50% - 15px);
    }
    .solutions-block h3 {
        font-size: 30px;
    }
    .main-list .list-service-block {
        width: calc(50% - 7px);
    }
}
@media (max-width: 767px) {
  .container {
    width: 100%;
  }
 .header-bottom {
     width: 100%;
     flex-direction: column;
     padding: 10px 10px 70px;
     align-items: flex-start;
     justify-content: center;
     position: absolute;
     top: 60px;
     left: 0;
     z-index: 10;
     background: #ffffff;
     transform: translateX(-100%);
     transition: 0.3s
 }
    .header-menu {
        width: 100%;
        border-top: 1px solid #EAEAEA;
        align-items: flex-start;
    }
    .header-menu li {
        width: 100%;
        padding: 6px 10px;
        border-bottom: 1px solid #EAEAEA;
    }
    .header-info {
        width: 100%;
        border-top: 1px solid #EAEAEA;
        margin: 23px 0 0;
    }
    .header-bottom .header-info a {
        display: block;
        margin: 0;
        padding: 10px;
        border-bottom: 1px solid #EAEAEA;
        text-decoration:none;
        font-size:16px;
    }
    .header-bottom.active {
        transform: translateX(0);
    }

    .header-bottom .header-info a.full-version {
        display: block;
    }
    .header-profile{
        display:none;
    }

    .menu_mob {
        display: block;
    }
    /*.header-tel{
        display:none;
    }*/
    /*.btn.header-order-btn {
        display: none;
    }*/
    .persontal-info{
        display:flex;
    }
    .header-contact {
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 0 15px;
        right: 0;
        top: auto;
        bottom: 15px;
    }
    .btn.header-order-btn {
        width: 100px;
        height: 34px;
        margin: 0;
    }
    .header-logo{
        width:112px;
    }
    .header-top {
        padding: 15px 0;
    }
    .header-tel {
        font-size: 18px;
    }
    .header-tel span {
        font-size: 20px;
    }
    .header-menu {
        padding: 0 0 7px;
        line-height: 22px;
        flex-direction: column;
    }
    .main-info .col-9 {
        width: 100%;
    }
    .tab-control{
        display:none;
    }
    .tab-btns li {
        width: 25%;
        height: 43px;
        padding: 7px;
        font-size: 11px;
    }
    .info-box {
        width: 100%;
        margin: 0 0 12px;
    }
    .main-info .col-3 {
        width: 100%;
    }
    .filter-info form input{
        width:100%;
    }
    .filter-info form button {
        width: 100%;
    }
    footer .container {
        flex-wrap:wrap; 
    }
    footer .container .col-3 {
        width: 100%;
    }
    footer .container .col-4 {
        width: 100%;
        margin:0 0 15px;
    }
    footer h3 {
        font-size: 20px;
        font-weight: 500;
        color: #26272d;
        padding: 0 0 10px;
        cursor:pointer;
        text-align: left;
        background-image:url(../img/menu-icon.png);
        background-repeat:no-repeat;
        background-size:8px;
        background-position:right 10px;
    }
    .footer-list-link{
        display:none;
    }
    .footer-list-link li a {
        padding: 2px;
    }
    .footer-navigation{
        display:none;
    }
    .footer-contact a {
        font-size:15px;
        padding: 3px;
    }
    .footer-logo {
        margin:0 auto  20px auto;
    }
    .footer-social {
        margin: 0 auto 20px auto;
    }
    .account-block {
        width: 100%;
    }
    .restore-block {
        padding: 20px 15px 25px;
        margin: 30px 0 0;
    }
    .restore-block h4 {
        font-size: 18px;
        margin: 15px 0 20px;
    }
    .restore-block h3 {
        font-size: 24px;
    }
    .banner h1 {
        margin: 0px 0 20px;
        font-size: 35px;
    }
    .banner-info .banner-text {
        width: 100%;
        margin: 0 0 15px;
    }
    .price-table{
        overflow-x:auto;
    }
    .price-table table {
        /*width: 540px;*/
    }
    .price-table table td, .price-table table th {
        padding:7px 6px;
    }
    .form-block {
        width: 100%;
    }
    .form-btn {
        display: flex;
        align-items: center;
        flex-direction: column;
    }
    .form-btn .attach-file {
        position: relative;
        margin-bottom:20px;
        top: auto;
        right: auto;
        z-index: 1;
    }
    .recommended-container .recommended-block {
        width: calc(50% - 10px);
    }
    .news-block {
        width: 100%;
    }
    .firm-info-text, .firm-info-photo {
        width: 100%;
    }
    .list-service .list-service-block {
        width: 100%;
        height: auto;
    }
    .pagination li:first-child {
        margin-right: 5px;
    }
    .pagination li:last-child {
        margin-left: 5px;
    }
    .pagination li {
        margin: 5px;
    }
    .news-bar, .news-content {
        width: 100%;
    }
    .solutions-block {
        width: 100%;
    }
    .individual-block {
        width: calc(50% - 7px);
        height: 125px;
        margin: 0 0 12px;
    }
    .restore-block form p.forgot-password {
        top: -10px;
    }
    .service-content {
        width: 100%;
    }
    .main-banner .banner-title {
        width: 50%;
        font-size: 25px;
    }
    h1.smallTitle {
        font-size: 26px;
        margin: 0px 0 20px;
    }
    .account-block button {
        margin-top: 0;
    }
    .input {
        height: 45px;
        margin: 0 0 10px;
    }
    .account-block h3 {
        margin: 0 0 15px;
    }
    .filter-info form .select {
        width: 100%;
    }
    header {
        padding: 0px 0 20px;
    }
    .main-list {
        margin-bottom: 5px;
    }
    .form-wrap {
        margin: 0 auto 23px auto;
    }
    .recommended h2 {
        margin-bottom: 20px;
    }
    .recommended-container {
        margin: 0 0 10px;
    }
    .recommended {
        margin-bottom: 20px;
    }
    .news-image {
        margin: 0 0 8px;
    }
    .news-block {
        margin: 0px 0 15px;
        padding: 15px;
    }
    .news-name {
        font-size: 20px;
        padding-bottom: 10px;
    }
    .news-info {
        padding: 10px 0 0;
    }
    footer {
        margin: 25px 0 0;
    }
    .form-block .textarea{
        font-size:18px;
    }
    .select {
        font-size: 18px;
    }
    .firm-info-text p {
        font-size: 16px;
        line-height: 20px;
        margin: 0 0 12px;
    }
    .service-content p {
        font-size: 16px;
        line-height: 20px;
        margin: 0 0 15px;
    }
    .list-service-block h3 {
        max-width: 125px;
    }
    .list-service-block {
        padding: 10px 5px 10px 10px;
    }
    .textarea {
        padding: 10px;
    }
    .form-block .textarea {
        height: 110px;
    }
    .form-label .input,
    .form-label .textarea{
        margin:0;
    }
    h2 {
        font-size: 22px;
        margin: 0 0 12px;
    }
    .form-label .label-name {
        margin: 0 0 3px;
    }
}
